<!DOCTYPE html>
<html>

@{
    ViewBag.Title = "Professional";
}

<style>
    A {
        text-decoration: none;
    }
</style>
<body>
    <div>
        <div class="text-center">
            <p>
                <div class="jumbotron">
                    <h1 class="display-4">About Me</h1>
                    <p class="lead">
                        I am a sophomore at the University of Texas at Austin double majoring in the Canfield Business Honors
                        Program and Management Information Systems. Furthermore, I am pursuing a certificate in Computer
                        Science as well as a Business Analytics minor. I decided to pursue MIS after taking MIS 325 during the
                        fall of my freshman year as I became interested in the intersection of business and technology.
                        Since then, I have taken many more MIS and CS classes to continue to improve my hard skills and currently hold leadership
                        positions in TBLA and ABSA to improve my soft skills. Currently, I am interested in Product Management
                        and Consulting Roles. Below I have laid out some of my skills and work experience.
                    </p>
                    <hr class="my-4">
                </div>
            </p>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 mx-auto">
                        <div class="card shadow border">
                            <div class="card-header" style="background-color:pink; color:white">
                                Pop Social
                            </div>
                            <div class="card-body d-flex flex-column align-items-center">
                                <p class="card-text">
                                    Currently, I am a Product Data Intern at Pop Social. In this internship, I am continuing to
                                    hone my skills in data analytics using new tools such as Amplitude and MongoDB.
                                    I have also gained valuable experience contributing to cross-functional and agile
                                    teams settings.
                                </p>
                            </div>
                            <div class="card-footer" style="background-color:pink">
                                <a href="https://www.popsocial.app/" class="btn btn-primary">Pop Social Website</a>
                            </div>
                        </div>
                        <br />
                        <div class="card shadow border">
                            <div class="card-header" style="background-color: green; color: white">
                                Campus Crates
                            </div>
                            <div class="card-body d-flex flex-column align-items-center">
                                <p class="card-text">
                                    Currently, I am also an Entrepreneurship Intern at Campus Crates, which is a summer storage solutions
                                    company. As an Entrepreneurship Intern, I am in charge of expanding the company from Baylor
                                    onto the UT Austin campus. This unique opportunity has meant that I have had to dip my toes
                                    in all aspects of business, much like an entrepreneur would. This meant I had to
                                    handle operations and logistics, keep the CRM up to date, develop a marketing plan,
                                    and build relationships with both clients and apartment complexes. Finally, I got to
                                    spearhead my own company improvement project from pitching the project to the leadership team
                                    to implementation.
                                </p>
                            </div>
                            <div class="card-footer" style="background-color: green">
                                <a href="https://www.campuscrates.com/" class="btn btn-primary">Campus Crates Website</a>
                            </div>
                        </div>
                        <br />
                        <div class="card shadow border">
                            <div class="card-header" style="background-color: red; color: white">
                                Comedia Marketing and Consulting
                            </div>
                            <div class="card-body d-flex flex-column align-items-center">
                                <p class="card-text">
                                    Last summer, I was a business analytics intern at Comedia Marketing and Consulting.
                                    Comedia’s clientele are Chinese companies hoping to break into the US market. During this internship,
                                    I correspond with these companies to design and implement their requirements onto their
                                    websites, whether that is aesthetically or through search engine optimization. I also
                                    did data analytics for the company using Excel and SQL.
                                </p>
                            </div>
                            <div class="card-footer" style="background-color:red">
                                <a href="https://comediamarketing.com/" class="btn btn-primary">Comedia Website</a>
                            </div>
                        </div>
                        <br />
                        <div class="card shadow border">
                            <div class="card-header">
                                Additional Skills
                            </div>
                            <div class="card-body d-flex flex-column align-items-center">
                                <p class="card-text">
                                    Python, SQL, R, Canva, Microsoft Excel, Microsoft Office, Microsoft PowerPoint, Power BI, Tableau,
                                    Amplitude, MongoDB

                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="/files/Thomas_Kuo_Resume.pdf" class="btn btn-primary">Here is my Resume for more Information</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
