<!DOCTYPE html>
<html>

@{
    ViewBag.Title = "Personal";
}

<style>
    A {
        text-decoration: none;
    }

    img {
        height: auto;
        max-width: 100%;
    }
</style>
<body>
    <div>
        <div class="text-center">
            <br />
            <h1>Personal</h1>
            <hr />
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 mx-auto">
                        <div class="card shadow border">
                            <div class="card-header">
                                <strong>The Outdoors</strong>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center">
                                <p class="card-text">
                                    <div class="align-self-sm-center">
                                        <img src="~/images/ThomasOutdoors.jpg" width="440" height="330"
                                             alt="Thomas in Big Bend National Park" title="Thomas in the Outdoors" />
                                    </div>
                                    <br />
                                    My love for the outdoors started at a young age, starting when I joined the Boy Scouts
                                    in the sixth grade. Every month, my troop would drive into the wilderness and camp out.
                                    I gained many valuable skills and became more independent during this time. That love
                                    that was fostered in me as a young child is still with me to this day.
                                </p>
                            </div>
                        </div>
                        <br />
                        <div class="card shadow border">
                            <div class="card-header">
                                <strong>Favorite Artist</strong>
                            </div>
                            <div class="card-body d-flex flex-column align-items-center">
                                <p class="card-text">
                                    Lil Baby is both Kanye West and I's favorite rapper. He has been my #1 artist
                                    on Spotify for the past four years.
                                </p>
                            </div>
                            <div class="card-footer">
                                <center>
                                    <iframe src="https://open.spotify.com/embed/playlist/56fq0rV9dfL7S3dhqOcfpZ?utm_source=generator"
                                            width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay;
                                            clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
