<!DOCTYPE html>


@{
    ViewBag.Title = "Projects";
}
<style>
    A {
        text-decoration: none;
    }

    img {
        height: auto;
        max-width: 100%;
    }
</style>
<br />
<div class="text-center">
    <h1>
        Projects
    </h1>
</div>

<div class="info">
    <hr />
    <br />
    <h3>
        <span>Classifying Recyclables with Machine Learning</span>
    </h3>
    <br />
    <div class="section">
        <h4>Overview</h4>
        Used the open-source Tensorflow library to build a machine learning algorithm that could discern between plastic
        water bottles and random photos with a 99.8% accuracy.
    </div>
    <br />
    <div class="section">
        <h4>Role</h4>
        <span style="color:blue">Project Lead -</span> led the project from brainstorming to the presentation of the project
        <br />
        <span style="color:green">Team:</span> 2 Product Leads, 2 Developers
        <br />
        <span style="color:red">Technologies:</span> Python, Tensorflow, Docker
        <br />
        <span style="color:orange">Timeline:</span> August 2017 - March 2018
        <br />
        <span style="color:purple">Awards:</span>
        Second Place Science Fair Winner in the Evironmental Division issued by the Dallas Regional Science Fair,
        <br />
        U.S. Environmental Protection Agency 6th Chapter Exemplary Achievement in Environmental Protection

    </div>
</div>
<br />
<br />
<div class="info">
    <h3>
        <span>Eagle Scout Project</span>
    </h3>
    <br />
    <div class="section">
        <h4>Overview</h4>
        Built a picnic table for a local church for parents to watch their children while
        they play on the playground
    </div>
    <br />
    <div class="section">
        <h4>Role</h4>
        <span style="color:blue">Project Lead -</span> led the project from brainstorming to the delivery of finished product
        <br />
        <span style="color:green">Team:</span> 1 Product Lead, 1 Designer, 5 Scouts
        <br />
        <span style="color:red">Technologies:</span> CAD 3D Modeling
        <br />
        <span style="color:orange">Timeline:</span> January 2017 - September 2017
        <br />
    </div>
</div>

