<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ad00fbdb-008d-48f6-9e3e-720eaf086cc7/resourceGroups/sp22Homework/providers/Microsoft.Web/sites/ThomasKuo</ResourceId>
    <ResourceGroup>sp22Homework</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://thomaskuo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>thomaskuo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ThomasKuo</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ThomasKuo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>